body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #006064;
  color: white;
  padding: 1rem;
}

header div {
  font-size: xx-large;
}

header nav a {
  color: #fff;
  margin: 0 0.5rem;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  text-align: justify;
  color: #333;
}

footer {
  background-color: #006064;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
